* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
}

body {
	background-color: antiquewhite;
}

#head {
	width: 1600PX;
	height: 845px;
	background-image: url(../img/innovate/01-02.png);
	padding-top: 22px;
}

#head .index {
	width: 142px;
	height: 38px;
	background-color: #22b2e7;
	box-shadow: 1px 1px 1px 0px rgba(164, 164, 164, 0.75);
	text-align: center;
	/* padding-top: 22px; */
	margin-left: 1256px;
}

#head .index a {
	font-family: MicrosoftYaHei;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	line-height: 38px;
}

#content {
	width: 1600px;
	height: 3205px;
	box-sizing: border-box;
	border: 1px solid #004287;
	background-color: #FBF7F7;
	padding: 60px 200px;
	overflow: auto;
	position: relative;
}

#content .title {
	height: 29px;
	font-family: FZZCHJW--GB1-0;
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 3px;
	color: #187bba;
	margin-bottom: 11px;
}

#content p {
	width: 1171px;
		height: 43px;
		font-family: MicrosoftYaHei;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #040000;
		margin-bottom: 86px;
}

#content .oneUl{
	margin-bottom: 57px;
}
#content .oneUl li{
	float: left;
}
#content .oneUl .one{
	width: 608px;
}
#content .oneImg{
	margin-bottom: 163PX;
}
#content .twoP{
	margin-left: 20px;
	width: 1118px;
		height: 24px;
		font-family: MicrosoftYaHei;
		font-size: 20px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0px;
		color: #000000;
		margin-bottom: 129px;
}
#content .dream{
	position: absolute;
	left: 486px;
	margin-top: 116px;
	margin-bottom: 110px;
}
#content .end{
	position: absolute;
	top: 2254px;
	left: 276px;
}